.customItem:hover{
    background: #D82C2C;

    p {
        color: #fff;
    }

    .customIcon {
        color: #fff;
    }
}

.homePageContain {
    text-decoration: none;
    .isClick{
        background: #D82C2C;

        p {
            color: #fff;
        }

        .customIcon {
            color: #fff;
        }
    }
}
