.txtcel1 {
    font-weight: bold;
}

.txtcel2 {
    margin-left: 10px;
}

body {
    .MuiDateRangeCalendar-root.css-e47596-MuiDateRangeCalendar-root div:nth-child(1) {
        color: transparent !important;
    }

    .MuiTypography-root.MuiTypography-subtitle1.css-10wpov9-MuiTypography-root {
        color: #000000DE;
    }
}